.landing-page {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    display: flex;
    margin: 0px;
    padding: 0px;
    filter: contrast(42%), brightness(25%);
    background: linear-gradient(347deg, rgb(251 242 242) 11%, rgb(204 222 249) 64%, rgb(144 168 197) 100%);
    z-index: 1;
}

.landing-page::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    z-index: -1;
    background: url('https://i.ibb.co/FhfBXMD/static.jpg') repeat
}

.landing-page::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(347deg, rgb(251 242 242) 11%, rgb(204 222 249) 64%, rgb(144 168 197) 100%);
    filter: blur(9px);
    z-index: -2;
}

.slogan {
    display: flex;
    flex-direction: column;
    padding: 54px;
    justify-content: center;
}
h1 {
  font-size: 46px;
  font-family: 'GoodTime',sans-serif;
  letter-spacing: 5px;
  color: rgba(55,62,70,1);
  margin: 0px 0px 20px;
}
p {
  font-size: 28px;
  font-family: 'GoodTime',sans-serif;
    letter-spacing: 2px;
    color: rgb(89, 99, 110);
    margin: 0px;
}

.contato {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 54px;
    flex: auto;
}
.projeto {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 54px;
    flex: auto;
}
