@import '../../shared/styles/variables.scss';

.landing-page {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    margin: 0px;
    padding: 0px;
    filter: contrast(42%), brightness(25%);
    background: $white-gradient;
    z-index: 1;
}

.landing-page::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    z-index: -1;
    background: url('https://i.ibb.co/FhfBXMD/static.jpg') repeat
}

.landing-page::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $white-gradient;
    filter: blur(9px);
    z-index: -2;
}

.cols1{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    flex-direction: column;
}

.cols2{
    display: flex;
    max-width: 50%;
}
.cols3{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.slogan {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 54px;
    justify-content: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 80px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    color: $main-dark;
    margin: 0px 0px 10px;
}
p {
  font-size: 24px;
  font-family: 'HelveticaUltraLite',sans-serif;
    letter-spacing: 2px;
    color: $secondary-dark;
    margin: 0px;
}

.contato {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding: 54px;
}
.projeto {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    //padding: 54px;
    flex: auto;
}

.empty-div-contact{
    width: 457px;
    height: 205px;
}
