@import "../../shared/styles/variables.scss";

.landing-page-container,
html,
body {
    height: 100vh;
}

.landing-page-container {
    overflow-x: hidden;
    background-color: $dark;
    background-image: url("../../../assets/images/glass-wp-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    .container {
        height: 100%;
        padding: 64px;

        .cols {
            display: flex;
            height: 90%;
            gap: 32px;
            .info-container {
                display: flex;
                flex-direction: column;
                justify-content: end;
                width: 50%;
                gap: 10%;
            }

            .projects {
                display: flex;
            }
        }
    }
}

.slogan {
    display: flex;
    gap: 8px;
    flex-direction: column;
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
}

img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 50%;
    height: auto;
/*     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); */
}

.footer-container{
    padding-top: 8px;
    display: flex;
    justify-content: center;
    .footer-content{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        .footer-icons{
            display: flex;
            gap: 8px;
        }
    }
}

@media (max-width: 1305px) {
    .landing-page-container {
        .container {
            padding: 32px;
            height: auto;
        }
    }
    .cols {
        display: flex;
        flex-direction: column;
        align-items: center;
        .slogan {
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 18px;
            }
        }
        .info-container {
            width: 100% !important;
            gap: 32px !important;
        }
        .projects {
            width: 100% !important;
            justify-content: center;
        }
    }
}
