@import '../../shared/styles/variables.scss';

.skill-area{
    display: flex;
}

.chip{
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
    height: 24px;
    border-radius: 8px;
    background-color: $main_dark;

    .name{
        font-family: "Bebas Neue", sans-serif;
        font-size: 26px;
        letter-spacing: 0;
        font-weight: 400;
        color: $main-white;
        line-height: 12px;
        margin: 0;
    }
}