@import '../../shared/styles/variables.scss';

.contact-area{
    .email{
        font-size: 22px;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        color: $main-dark;
    }
    
    .social{
        display: flex;
    }
    .social p:nth-child(n){
        color:$main-dark;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        margin-right: 20px;
    }
    opacity: 0;
    animation: fade-in ease-in 1s forwards;
    transform: translateX(-100%);
}

.iconSocial{
    height: 48px;
    width: 48px;
    margin-right:24px;
    cursor:pointer;
}

@keyframes fade-in {
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}