@import '../../shared/styles/variables.scss';

.contact-area{
    .email{
        font-size: 14px;
        word-break: break-all;
    }
    
    .social{
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }
    .social p:nth-child(n){
        color:$main-white;
        font-size: 14px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.iconSocial{
    height: 26px;
    width: 26px;
    margin-right:24px;
    cursor:pointer;
}