$main-dark: #343E46;
$secondary-dark:#59636E;
$main-white: #ffffff;
$secondary-white: #f1f0da;
$dark-gradient: linear-gradient(128deg, rgba(55,62,70,1) 15%, rgba(55,62,70,1) 54%, rgba(81,90,101,1) 95%);
$white-gradient: linear-gradient(347deg, rgb(251 242 242) 11%, rgb(204 222 249) 64%, rgb(144 168 197) 100%);