@import "../../shared/styles/variables.scss";

.line {
  width: 48px;
  height: 2px;
  background-color: $main-dark;
}

.container-carrousel{
  margin: 0px 54px 54px 0px;
}

.carrousel{
  box-sizing: border-box;
  background-color: $main-white;
  width: 340px;
  height: 250px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 8px;
  p{
    font-size: 20px;
  }
  h1{
    font-size: 40px;
    letter-spacing: 3px;
  }
  img{
    margin-bottom: 10px;
    border-radius: 8px;
    width: 56px;
    height: 56px;
    }
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .chevron {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    width: 48px;
    height: 48px;
    color: $main-dark;
  }

  .icon-container{
    div{
      width: 48px;
      height: 48px;
    }
  }
}
