@font-face {
  font-family: 'Elianto';
  src: url('../assets/fonts/Elianto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoodTime';
  src: url('../assets/fonts/GOODTIME.ttf') format('truetype');
}

@font-face {
  font-family: 'BloodWaxxRegular';
  src: url('../assets/fonts/bloodwaxx/Bloodwax-KW8y.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BloodWaxxBold';
  src: url('../assets/fonts/bloodwaxx/Bloodwaxbold-vgJE.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Elianto'sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
