@font-face {
  font-family: 'Elianto';
  src: url('../assets/fonts/Elianto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoodTime';
  src: url('../assets/fonts/GOODTIME.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Elianto'sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
